{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('magasin_add') }}"><button class="btn btn-primary">Ajouter un magasin</button></a>
    {% for magasin in magasins %}
        <li><a href="{{ path('magasin_detail', {id: magasin.id}) }}">{{ magasin.nom }}</a><a href="{{ path('magasin_delete', {id: magasin.id}) }}"><button class="btn btn-danger">X</button></a></li>
    {% endfor %}
{% endblock %}
